<!DOCTYPE html>
<html>

<head>
<title><%= title %></title>
<link href="../static/css/cosmo.min.css" rel="stylesheet" type="text/css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body><!DOCTYPE html>
  <html>
  <head>
  <title><%= title %></title>
  <link rel="stylesheet" href="css/cosmo.min.css" type="text/css">
  </head>
  <body>
               <div class="container">
                 <div class="row">
                <div class="col-sm-4"><h1> PacktChat </h1>
                </div>
                 </div>
              <div class="row"><%-body%></div>
  </div>
  </body>
  </html>
                
