<html>

<head>
<title><%= title %></title>
<!-- <link href="../static/css/cosmo.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header"><%- Header %></div>
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-text"><%- body %></p>
                </div>

</body>
</html>